<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lorenzomalferrari.holidaydiary">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!--
            SplashActivity
            Activity iniziale
        -->
        <activity
            android:name=".view.activity.SplashActivity"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login se l'utente non è loggato -->
        <activity android:name=".view.activity.LoginActivity" />
        <!-- Menu dell'app -->
        <activity
            android:name=".view.activity.MenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- MyPosition Activity -->
        <activity
            android:name=".view.activity.MyPositionActivity"
            android:label="@string/places_title"
            android:parentActivityName=".view.activity.MenuActivity" />

        <!-- Registration Activity -->
        <activity
            android:name=".view.activity.RegistrationActivity"
            android:parentActivityName=".view.activity.LoginActivity" />
        <!-- Travels Activity -->
        <activity
            android:name=".view.activity.TravelsActivity"
            android:parentActivityName=".view.activity.MenuActivity" />
        <!-- Travel Activity -->
        <activity
            android:name=".view.activity.TravelActivity"
            android:parentActivityName=".view.activity.TravelsActivity" />
        <!-- Notes Activity -->
        <activity
            android:name=".view.activity.NotesActivity"
            android:parentActivityName=".view.activity.MenuActivity" />
        <!-- Pictures Activity -->
        <activity
            android:name=".view.activity.PicturesActivity"
            android:parentActivityName=".view.activity.MenuActivity" />
        <!-- PrivacyTerms Activity -->
        <activity
            android:name=".view.activity.PrivacyTermsActivity"
            android:parentActivityName=".view.activity.MenuActivity" />
        <!-- Account Activity -->
        <activity
            android:name=".view.activity.AccountActivity"
            android:parentActivityName=".view.activity.MenuActivity" />
        <!-- Settings Activity -->
        <activity
            android:name=".view.activity.SettingsActivity"
            android:parentActivityName=".view.activity.MenuActivity" />
        <!-- Note Activity -->
        <activity
            android:name=".view.activity.NoteActivity"
            android:parentActivityName=".view.activity.NotesActivity" />
        <!--             Aggiungi Activity -->
        <!-- AddPicture Activity -->
        <activity
            android:name=".view.activity.AddPictureActivity"
            android:parentActivityName=".view.activity.PicturesActivity" />
        <!-- AddTravel Activity -->
        <activity
            android:name=".view.activity.AddTravelActivity"
            android:parentActivityName=".view.activity.TravelsActivity" />
        <!-- AddNote Activity -->
        <activity
            android:name=".view.activity.AddNoteActivity"
            android:parentActivityName=".view.activity.NotesActivity" />

        <activity
            android:name=".view.activity.Menu2Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest><!--             android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
